*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

canvas:focus {
    outline: none;
    box-shadow: none;
}

#mainInput {
    position: absolute;
    left: -1000px;
    top: -1000px;
}